In [3]:
import pandas as pd

In [4]:
kaggle_hadiths_clean = pd.read_csv("kaggle_hadiths_clean.csv")
kaggle_hadiths_clean

,id,hadith_id,source,chapter_no,hadith_no,chapter,chain_indx,text_ar,text_en
0,0,1,Sahih Bukhari,1,1,Revelation - كتاب بدء الوحى,"30418, 20005, 11062, 11213, 11042, 3",حدثنا الحميدي عبد الله بن الزبير، قال حدثنا سف...,Narrated 'Umar bin Al-Khattab: ...
1,1,2,Sahih Bukhari,1,2,Revelation - كتاب بدء الوحى,"30355, 20001, 11065, 10511, 53",حدثنا عبد الله بن يوسف، قال أخبرنا مالك، عن هش...,Narrated 'Aisha: ...
2,2,3,Sahih Bukhari,1,3,Revelation - كتاب بدء الوحى,"30399, 20023, 11207, 11013, 10511, 53",حدثنا يحيى بن بكير، قال حدثنا الليث، عن عقيل، ...,Narrated 'Aisha: (the m...
3,3,4,Sahih Bukhari,1,4,Revelation - كتاب بدء الوحى,"11013, 10567, 34",قال ابن شهاب وأخبرني أبو سلمة بن عبد الرحمن، أ...,Narrated Jabir bin 'Abdullah Al-Ansari while ...
4,4,5,Sahih Bukhari,1,5,Revelation - كتاب بدء الوحى,"20040, 20469, 11399, 11050, 17",حدثنا موسى بن إسماعيل، قال حدثنا أبو عوانة، قا...,Narrated Said bin Jubair: ...
...,...,...,...,...,...,...,...,...,...
34436,173,54223,Sunan Ibn Majah,36,4234,Tribulations - كتاب الفتن,"30285, 20733, 20399, 11412, 11027, 3051",حدثنا عبد الرحمن بن إبراهيم، حدثنا الوليد بن م...,It was narrated from ‘Awf bin Malik Al-Ashja’...
34437,174,54224,Sunan Ibn Majah,36,4235,Tribulations - كتاب الفتن,"30201, 20005, 11013, 11002",حدثنا أبو بكر بن أبي شيبة، حدثنا سفيان بن عيين...,It was narrated from Abu Hurairah conveying i...
34438,175,54225,Sunan Ibn Majah,36,4236,Tribulations - كتاب الفتن,"30201, 20005, 11061, 11197, 13",حدثنا أبو بكر بن أبي شيبة، حدثنا سفيان بن عيين...,It was narrated from Abu Hurairah that the Me...
34439,176,54226,Sunan Ibn Majah,36,4237,Tribulations - كتاب الفتن,"30201, 20380, 11272, 11016, 5200",حدثنا أبو بكر بن أبي شيبة، حدثنا أسود بن عامر،...,It was narrated that ‘Amr bin Taghlib said: ...
34440,177,54227,Sunan Ibn Majah,36,4238,Tribulations - كتاب الفتن,"36540, 20596, 11060, 11161, 38",حدثنا الحسن بن عرفة، حدثنا عمار بن محمد، عن ال...,It was narrated from Abu Sa’eed Al-Khudri tha...

In [5]:
kaggle_rawis = pd.read_csv("kaggle_rawis.csv")
kaggle_rawis

,scholar_indx,name,grade,parents,spouse,siblings,children,birth_date_place,places_of_stay,death_date_place,...,students_inds,teachers_inds,birth_place,birth_date,birth_date_hijri,birth_date_gregorian,death_date_hijri,death_date_gregorian,death_place,death_reason
0,1,Prophet Muhammad(saw) ( محمّد صلّی اللہ علیہ و...,Rasool Allah,Abdullah ibn 'Abd al-Muttalib [9991] / Amina b...,"Khadijah [51] , Sawda bint Zam'a [52] , 'Aisha...",NaN,"al-Qasim bin Muhammad [516] , Zaynab bint Muha...",53 BH/570 CE (9th Rabi' awwal) (Makkah),"Makkah, Medina",11 AH/632 CE (12th Rabi' awwal (Medina)[ Natur...,...,"2, 3, 4, 5, 6, 7, 8, 9, 10, 16, 17, 18, 19, 53...",NaN,"9th Rabi' awwal, Makkah","['53 BH', '570 CE']",53.0,570.0,11.0,632.0,12th Rabi' awwal (Medina,Natural
1,2,Abu Bakr As-Siddique ( أبو بكر الصديق ( رضي ال...,Comp.(RA) [1st Generation],Abu Quhafa Uthman bin 'Amir [500] / Salma Umm-...,"Qutaylah bint Abdul-'Uzza, Umm Ruman [91] , As...","Quafah ibn Uthman, Mu'taq, Utaiq","Asma' bint Abi Bakr [70] , 'Abdullah bin Abi B...",51 BH/573 CE (Makkah),"Makkah, Medina",13 AH/634 CE (Medina)[ Natural ],...,"3, 4, 5, 8, 49, 53, 107, 168, 17, 106, 18, 29,...",1,Makkah,"['51 BH', '573 CE']",51.0,573.0,13.0,634.0,Medina,Natural
2,3,Umar ibn al-Khattab ( عمر بن الخطاب بن نفيل ( ...,Comp.(RA) [1st Generation],Khattab ibn Nufayl / Hantamah bint Hisham Makh...,"Zaynab bint Maz'un [124] , Umm Kulthum bint 'A...","Zayd ibn al-Khattab [114] , Fatima bint al-Kha...","ibn Umar [18] , Hafsa bint Umar [54] , 'Abdur ...",41 BH/582 CE (Makkah),"Makkah, Medina",23 AH/645 CE (Medinah)[ Martyred ],...,"54, 18, 563, 4, 5, 6, 9, 8, 39, 16, 27, 28, 49...","1, 2",Makkah,"['41 BH', '582 CE']",41.0,582.0,23.0,645.0,Medinah,Martyred
3,4,Uthman ibn 'Affaan ( عثمان بن عفان ( رضي الله عنه,Comp.(RA) [1st Generation],Affan ibn Abi al-'As / Arwa bint Kuraiz bin Ra...,"Ruqayyah bint Muhammad [102] , Umm Kulthum bin...",Amnah bint Affaan [570],"Abdullah bin 'Uthman [571] , 'Abdullah bin 'Ut...",47 BH/579 CE (Ta'if),"Makkah, Abyssinia, Medinah",35 AH/655 CE (Medinah)[ Martyred ],...,"10582, 10587, 16, 49, 123, 391, 13, 19, 16, 17...","1, 2, 2003",Ta'if,"['47 BH', '579 CE']",47.0,579.0,35.0,655.0,Medinah,Martyred
4,5,Ali ibn Abi Talib ( علي بن أبي طالب بن عبد الم...,Comp.(RA) [1st Generation],Abu Talib ibn 'Abd al-Muttalib [9992] / Fatima...,"Fatima bint Muhammad [63] , Khawlah bint Ja'fa...","Talib ibn Abi Talib [164] , 'Aqeel ibn Abi Tal...","Hassan ibn Ali bin Abi Talib [30] , Hussain ib...",23 BH/600 CE (13 Rajab) (Makkah),"Makkah, Medina, kufa",40 AH/661 CE (21 Ramadhan) (Kufa)[ Martyred ],...,"30, 31, 16, 400, 13, 38, 182, 438, 17, 18, 106...","1, 2, 3, 63, 163","13 Rajab, Makkah","['23 BH', '600 CE', '13 R']",23.0,600.0,40.0,661.0,"21 Ramadhan, Kufa",Martyred
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24321,40019,Muhammad Ishaq al-Kalabadhi,4th Century AH,NaN,NaN,NaN,NaN,NaN,NaN,380 AH ()[ Natural ],...,NaN,NaN,NaN,NaN,NaN,NaN,380.0,NaN,NaN,Natural
24322,40020,Sulayman Ibn Muhammad,4th Century AH,NaN,NaN,NaN,NaN,NaN,NaN,388 AH ()[ Natural ],...,NaN,NaN,NaN,NaN,NaN,NaN,388.0,NaN,NaN,Natural
24323,40021,al-Khallal,4th Century AH [Hanbali],NaN,NaN,NaN,NaN,NaN,NaN,311 AH ()[ Natural ],...,NaN,NaN,NaN,NaN,NaN,NaN,311.0,NaN,NaN,Natural
24324,40022,al-Khiraqi,4th Century AH [Hanbali],NaN,NaN,NaN,NaN,NaN,NaN,334 AH ()[ Natural ],...,NaN,NaN,NaN,NaN,NaN,NaN,334.0,NaN,NaN,Natural
24325,40023,Ghulam al-Khallal,4th Century AH [Hanbali],NaN,NaN,NaN,NaN,NaN,NaN,363 AH ()[ Natural ],...,NaN,NaN,NaN,NaN,NaN,NaN,363.0,NaN,NaN,Natural

In [ ]:
kaggle_hadiths_clean.